<div class="container">
  <div class="col-md-offset-2 col-md-8 text-center" >
    <div class="form-area">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <br style="clear:both">
        <h3 style="margin-bottom: 25px; text-align: center;">{{pageTitle}}</h3>
        <div class="form-group">
          <input type="text" class="form-control" id="title" name="title" formControlName="title" placeholder="Book Title" [(ngModel)]="title" required>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="authors" name="authors" formControlName="authors"  placeholder="Authors (comma separated if more than one)" [(ngModel)]="authors" required>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="genre" name="genre" formControlName="genre" placeholder="Genre (comma separated if more than one)" [(ngModel)]="genre" required>
        </div>
        <div class="form-group">
          <textarea class="form-control" rows="6" id="desc" name="desc" formControlName="desc" placeholder="Book Description" [(ngModel)]="desc"></textarea>
        </div>
        <div class="form-group">
          <label for="image"class="pull-left" >Book Thumbnail</label>
          <input type="file" id="image" class="form-control" (change)="onFileChange($event)" #fileInput>
          <br>
          <div class="row">
            <div class="col-xs-3">
              <div class="dimension">
                Preview
                <br>
                <img *ngIf="loading" src="data:image/JPEG;base64,{{image.value}}"/>
              </div>
            </div>
          </div>
          <br>
          <br>
          <div class="row">
            <div class="col-xs-2 form-group">
              <button type="button" class="btn btn-danger pull-left" (click)="clearFile()">clear file</button>
            </div>
            <div class="col-xs-2">
            <br>
            </div>
            <div class="col-xs-3">
              <button type="submit" class="btn btn-success">Submit <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i></button>
            </div>
            <div class="col-xs-3">
              <button type="button" class="btn btn-warning pull right" routerLink="/home">Go back</button>
            </div>
          </div>
        </div>
        <div class="form-group" id="error" style="color: red">
        </div>
      </form>
    </div>
  </div>
</div>
