<div class="row">
  <br>
</div>
<div class="row" *ngIf="book!=undefined">
  <div class="col-xs-offset-1 col-xs-4 dimension">
      <img src="data:image/JPEG;base64,{{book.image.value}}"/>
  </div>
  <div class="col-xs-6">
    <h3>{{book.title}}</h3>
    <div class="row">
      <div class="col-xs-10">
        <h6>By : {{book.authors}}</h6>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-10">
        {{book.desc}}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <label for="rating">Your Rating</label>
        <div class="col-xs-7">
          <input *ngIf="allowAdd; else elseBlock" id="rating" class="form-control" type="number" min="0" max="5" [(ngModel)]="reviewInst.rating" (change)="checkRating()">
          <ng-template #elseBlock class="form-control"><br>{{reviewInst.rating}}</ng-template>
        </div>
      </div>
      <div class="col-xs-2">
        <label for="review">Favorite</label>
        <input type="checkbox" id="fav" [(ngModel)]="favorite" (click)="changeFav($event)">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-10">
        <label for="rating">Your Review</label>
        <textarea *ngIf="allowAdd; else pReview" id="review" class="form-control" rows="5" [(ngModel)]="reviewInst.review" placeholder="Add Review">{{reviewInst.review}}</textarea>
        <ng-template #pReview class="form-control"><p>{{reviewInst.review}}</p></ng-template>
      </div>
    </div>
    <br>
    <div class="row" *ngIf="allowAdd">
      <div class="col-xs-offset-3 col-xs-4 text-center">
        <button class="btn-primary form-control"  (click)="addReview()">Add Review</button>
      </div>
    </div>
    <br>
  </div>
</div>
<div class="row" *ngIf="book!=undefined">
  <div class="col-xs-offset-1 col-xs-12">
    <app-review [bookId]="book._id"></app-review>
  </div>
</div>
