<div class="row">
  <div class="col-xs-12 text-center">
    <h2>Book List</h2>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-offset-1 col-sm-6 col-md-6">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="search">
        <div class="input-group-btn">
          <button class="btn btn-default" type="button" (click)="onSearch()"><i class="glyphicon glyphicon-search"></i></button>
        </div>
        <div>&nbsp;</div>
        <div class="input-group-btn">
          <button class="btn btn-danger" type="button" (click)="reloadData()">Clear Search</button>
        </div>
      </div>
  </div>
</div>
<hr>
<br>
<div class="row">
<app-book *ngFor="let book of newArray" [book]="book" (bookDeleted)="reloadData()"></app-book>
<div class="Button" align="center">
  <button [disabled] = "prevDis" id="prev" name ="prev" (click) = "decreaseCurrentPage()">
    Previous
  </button>
  {{currentPage + 1}} / {{numberOfPages}}
  <button [disabled] = "nextDis" id="next" name="next" (click) = "increaseCurrentPage()">
    Next
  </button>
</div>
  <app-book *ngFor="let book of booklist" [book]="book" (bookDeleted)="reloadData()"></app-book>
</div>

