#outer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-color: #292b2c;
  color: #fff;
  height: 50px;
  font-weight: 400;
  line-height: 1.5;
}
h1{
  color:#cccc;
  font-size: 400%;
  margin-top: 50px;
}


a {
  cursor: pointer;
}

.navcolor{
  background-color: #343a40!important;
  color: #fff!important;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
